body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 50px;
    position: relative;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
}
header div ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding-right:40px;
    padding-top: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color:rgb(43, 43, 43);
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bold;
}
header .nav ul li a:hover{
    color:rgb(96, 130, 130);
}

/* Section One Start */

section{
    background-color: #F9F9FF;
    display: flex;
    height: 750px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hafe1, .hafe2 {
    width: 50%;
}

.hafe1{
    margin-left: 320px;
    margin-top: 120px;
}

.hafe2 {
    padding-right: 160px;
}
.hafe2 img {
    max-width: 100%;
    width: auto;
}

.hafe1 h3{
    font-weight: normal;
}

.hafe1 h1{
    font-size: 60px;
}

.hafe1 p {
    color: #9E8385;
}

.hafe1 input{
    padding: 12px 20px;
    background-color:#8393FF ;
    font-size: 20px;
    color: white;
    outline: none;
    border: 1px solid #8393FF ;
    border-radius: 5px;
}

.hafe1 input:hover{
    box-shadow: 5px 10px 30px rgb(164, 186, 237);
    transition: all 0.5s ease-in 0.1s;
    outline: none;

}
/* Section One End */

